.x-home-view {
    background-image: url('/resources/images/home_bg.jpg');

    .x-panel-body-default {
        background: transparent;
    }

    .x-toolbar {
        background-color: transparent;
    }

    .user-container {
        display: block;
        width: calc(50% - 20px);
        float: left;
        margin: 10px;
        padding: 10px;
        box-shadow: 0px 0px 3px #FFF;
        transition: 0.5s;
        background-color: #415b69;
        color: #fff;
        cursor: pointer;

        &.x-item-selected,
        &:hover {
            outline: 1px solid orange !important;
            background-color: #50524d;
        }
    }

    .user-label {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
    }

    .user-form {
        border: 1px solid #fff;

        .x-panel-header-default {
            background-color: transparent;
        }

        .x-form-trigger-wrap-default {
            border-radius: 0.35em;
        }

        .x-form-text-default {
            min-height: 40px;

            &.x-form-textarea {
                min-height: 96px;
            }
        }
    }

    .user-list {
        border: 1px solid #fff;
        padding: 10px;

        .empty-text {
            color: #fff;
            padding: 27px;
            font-weight: 700;
            text-align: center;
        }

        .description {
            width: calc(100% - 10px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}